<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="../static/CSS/chat.css" />
</head>
<body>
	<div id="headerBar"></div>
	
	<div id="chatRoom">
		<div id="message">
			<div id="passengerMessageDiv">
				<p id="passengerMessageText">Passenger: Sample Text</p>
			</div>
			<div id="messageDateDiv">
				<p id="messageDate">Sample Date</p>
			</div>
		</div>
	</div>
	
	<div id="sendMessageBox">
		
	</div>
</body>
</html>