<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/CSS/chat.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.js"></script>
	<script src="../static/JS/chatJS.js"></script>
</head>
<body>
	<div id="headerBar"></div>
	
	<div id="chatRoom">
		<div id="message">
			<div id="passengerMessageDiv">
				<p id="passengerMessageText">Passenger: Sample Text</p>
			</div>
			<div id="messageDateDiv">
				<p id="messageDate">Sample Date</p>
			</div>
		</div>
    <div id="chat">
<!--         <form id="2">
              <input type="text" class="input" placeholder="Your message" id="msg">
            <input type="button" name="send" id="send" value="Send" class="btn btn-success">
        </form> -->
    </div>
	</div>
	
	<div id="sendMessageBox">
	</div>
	
	<script>
		init();
	</script>
</body>
</html>
