<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="../static/CSS/login.css" />
	<script src="../static/JS/loginJS.js"></script>
</head>
<body>
		<div id="headerBar"><a href="index.html"><img id="headerImg" src="../static/img/small-horizontal-cropped.png"></a></div>
		<img src="{{ url_for('static', filename='img/white_airplane.png') }}" id = "paperImage" "height="20%" width="20%" style="display:block;" margin-top="20px;"/>
		<div id="tableDiv">
			<table id="loginTable">
				<tr>
					<td>
						<p>Flight Number:</p>
					</td>
					<td>
						<input id="flightInputId"></input>
					</td>
				</tr>
				<tr>
					<td>
						<p>Email:</p>
					</td>
					<td>
						<input id="emailInputId"></input>
					</td>
				</tr>
			</table>
		</div>
		
		<button class="myButton" id="button">Enter Chat</a>
				
		<script>
			init();
		</script>
</body>
</html>
