<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="../static/CSS/login.css" />
</head>
<body>
		<div id="headerBar"></div>
		<div id="bodyDiv"></div>
		<div id="tableDiv">
			<table id="loginTable">
				<tr>
					<td>
						<p>Flight Number:</p>
					</td>
					<td>
						<input id="flightInputId"></input>
					</td>
				</tr>
				<tr>
					<td>
						<p>Email:</p>
					</td>
					<td>
						<input id="emailInputId"></input>
					</td>
				</tr>
			</table>
		</div>
		
		<a href="#" class="myButton">Enter Chat</a>
</body>
</html>